<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/content1}">



<div layout:fragment="content">


    <form class="loginformz" action="/login" method="post" >
        <h1 class="border-bottom"> Please sign in</h1>
        <div class="form-floating">
            <input type="email" class="form-control" name="email" placeholder="Email address">
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" placeholder="password">
        </div>
        <p th:if="${param.error}" style="color: red">emailを見つけられないでしたり、パスワードが正しくありません。</p>

        <button class="btn btn-primary" type="submit">Login</button>
        <button class="btn btn-info" type="button" onclick="location.href='/joinform'">Sign up</button>
        <div class="form-floating">
            <button class="btn btn-secondary" ><a href="/oauth2/authorization/google" style="text-decoration: none; color: white" >Google Login</a></button>
            <button class="btn btn-primary" ><a href="/oauth2/authorization/facebook" style="text-decoration: none; color: white" >Facebook Login</a></button>

        </div>
    </form>

</div>

</html>