<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/content1}">


<div layout:fragment="content">

    <form class="loginformz">
        <h1 class="border-bottom"> Please sign in</h1>
        <div class="form-floating">
            <input type="email" class="form-control" name="email" placeholder="Email address">

        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" placeholder="password">
        </div>

        <button class="btn btn-primary" type="button">Login</button>
        <button class="btn btn-secondary" type="button"><a href="/joinform">Sign up</a></button>
    </form>

</div>

</html>